{% extends 'base.html.twig' %}

{% block title %}
About Us | {{ parent() }}
{% endblock %}

{% block body %}
    <h2>About Us</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam atque, incidunt itaque nobis non pariatur repellat saepe voluptates voluptatum? Aperiam deserunt distinctio excepturi praesentium rerum. Blanditiis ducimus maiores nulla sit?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam atque, incidunt itaque nobis non pariatur repellat saepe voluptates voluptatum? Aperiam deserunt distinctio excepturi praesentium rerum. Blanditiis ducimus maiores nulla sit?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam atque, incidunt itaque nobis non pariatur repellat saepe voluptates voluptatum? Aperiam deserunt distinctio excepturi praesentium rerum. Blanditiis ducimus maiores nulla sit?</p>

{% endblock %}

